{%extends 'layout/base.html'%}

{%block title%}Dang nhap nguoi dung{% endblock%}

{%block content%}
<h1> Dang nhap nguoi dung</h1>

{% if err_msg %}

<div class="alert alert-danger">
    <h4>{{err_msg}}</h4>
</div>

{%endif%}
<form method="POST" >
    <div class="mb-3 mt-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Nhap username" name="username">
    </div>
    <div class="mb-3 mt-3">
        <label for="password" class="form-label">Nhap mat khau</label>
        <input type="password" class="form-control" id="password" placeholder="Nhap mat khau" name="password">
    </div>
    <div class="mb-3 mt-3">
        <button type="submit" class="btn btn-success">Dang nhap</button>
    </div>

</form>
{%endblock%}