{%extends 'layout/base.html'%}

{%block title%}Dang ky nguoi dung{% endblock%}

{%block content%}
<h1> Dang ky nguoi dung</h1>

{% if err_msg %}

<div class="alert alert-danger">
    <h4>{{err_msg}}</h4>
</div>

{%endif%}
<form method="POST" action="{{url_for('user_register')}}" enctype="multipart/form-data">
    <div class="mb-3 mt-3">
        <label for="name" class="form-label">Ho ten</label>
        <input type="text" class="form-control" id="name" placeholder="Nhap ho ten" name="name">
    </div>
    <div class="mb-3 mt-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Nhap username" name="username">
    </div>
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3 mt-3">
        <label for="password" class="form-label">Nhap mat khau</label>
        <input type="password" class="form-control" id="password" placeholder="Nhap mat khau" name="password">
    </div>
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Xac nhan mat khau</label>
        <input type="password" class="form-control" id="confirm" placeholder="Xac nhan mat khau" name="confirm">
    </div>
    <div class="mb-3 mt-3">
        <label for="avatar" class="form-label">Anh dai dien</label>
        <input type="file" class="form-control" id="avatar" placeholder="Chon anh dai dien" name="avatar">
    </div>
    <div class="mb-3 mt-3">
        <button type="submit" class="btn btn-success">Dang ky</button>
    </div>

</form>
{%endblock%}